<section class="blog">
  <div class="blog-container container">
    <div class="blog-body">
      <h3 class="blog-heading heading">
        Blog
      </h3>
      <ul class="blog-grid grid">
        <li class="blog-card card">
          <span class="blog-name">
            Faseprofile 14mm ( Fotos)
          </span>
          <div class="blog-image">
            <img src="../../img/blog/blogImage_1.jpg" alt="image">
          </div>
          <p class="blog-info">
            Aufgrund der schönen Textur und Vielfalt der natürlichen Farbtöne des sibirischen...
          </p>
          <a href="#" class="blog-link box">
            <span>Mehr</span>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>

          </a>
        </li>
        <li class="blog-card card">
          <span class="blog-name">
            Faseprofile 14mm ( Fotos)
          </span>
          <div class="blog-image">
            <img src="../../img/blog/blogImage_2.jpg" alt="image">
          </div>
          <p class="blog-info">
            Aufgrund der schönen Textur und Vielfalt der natürlichen Farbtöne des sibirischen...
          </p>
          <a href="#" class="blog-link box">
            <span>Mehr</span>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>

          </a>
        </li>
        <li class="blog-card card">
          <span class="blog-name">
            Faseprofile 14mm ( Fotos)
          </span>
          <div class="blog-image">
            <img src="../../img/blog/blogImage_3.jpg" alt="image">
          </div>
          <p class="blog-info">
            Aufgrund der schönen Textur und Vielfalt der natürlichen Farbtöne des sibirischen...
          </p>
          <a href="#" class="blog-link box">
            <span>Mehr</span>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>

          </a>
        </li>
        <li class="blog-card card">
          <span class="blog-name">
            Faseprofile 14mm ( Fotos)
          </span>
          <div class="blog-image">
            <img src="../../img/blog/blogImage_4.jpg" alt="image">
          </div>
          <p class="blog-info">
            Aufgrund der schönen Textur und Vielfalt der natürlichen Farbtöne des sibirischen...
          </p>
          <a href="#" class="blog-link box">
            <span>Mehr</span>
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>

          </a>
        </li>
      </ul>
      <a href="#"  target="_blank" class="blog-all box box--lg">
        <span>View all</span>
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>
      </a>
    </div>
  </div>
</section>
