<section class="features">
  <div class="features-container container">
    <div class="features-body">
      <div class="features-controller">
        <button class="features-controller__button features-controller__button--selected">Beschreibung</button>
        <button class="features-controller__button">Artikeldetails</button>
      </div>
      <div class="features-displays">
        <ul class="features-blocks fade-in">
          <li class="features-col">
            <div class="features-info">
              <p>
                Die Rhombusleisten in A/B-sortierung aus sibirischer Lärche sind kammergetrocknet mit 14%(± 2%) Restfeuchte und allseitig glatt gehobelt.
              </p>

              <p>
                Ursprungsland: Russische Föderation (Gebiet Irkutsk)
              </p>

              <p>
                Schräge: 30° <br>
                Stärke: 20 mm <br>
                Breite: 70 mm <br>
                1 m² benötigt je nach Abstand (min. 5mm) ca. 15 Meter
                Die Oberflächenbehandlung von Hobelware ist von Holzart zu Holzart unterschiedlich. Robuste Holzarten wie die Sibirische Lärche kommen im Außenbereich auch ohne Oberflächenbehandlung aus. Weniger robuste Holzarten wie die Fichte benötigen jedoch eine qualitativ hochwertige Oberflächenbehandlung.
              </p>

              <p>
                Die Rhombusleisten sind in 45329 Essen auf Johanniskirchstraße 86-88 am Lager und sofort verfügbar.
              </p>
            </div>
            <div class="features-image">
              <img src="../../img/features/featuresImage_1.jpg" alt="image">
            </div>
          </li>
          <li class="features-col">
            <div class="features-info">
              <p>
                Kommen Sie einfach vorbei und überzeugen Sie sich selbst von der Top-Qualität unserer Produkte.
              </p>
            </div>
            <div class="features-image">
              <img src="../../img/features/featuresImage_2.jpg" alt="image">
            </div>
          </li>
          <li class="features-col">
            <div class="features-info">
              <p>
                Kommen Sie einfach vorbei und überzeugen Sie sich selbst von der Top-Qualität unserer Produkte.
              </p>
              <p class="features-info__bold">
                20 weitere Produkte aus sibirischer Lärche unter anderem Edelstahl-Schrauben und Schutz-Öle direkt am Lager an der A42 Essen-Nord B224.
              </p>
              <p class="features-info__bold">
                Unsere Öffnungszeiten: <br>
                Montag bis Freitag von 08:00 bis 18:00 Uhr und Samstag von 09:00 bis 16:00 Uhr.
              </p>
            </div>
            <div class="features-image">
              <img src="../../img/features/featuresImage_3.jpg" alt="image">
            </div>
          </li>
        </ul>
        <ul class="features-blocks">
          <li class="features-col">
            <div class="features-info">
              <p>
                Die Rhombusleisten in A/B-sortierung aus sibirischer Lärche sind kammergetrocknet mit 14%(± 2%) Restfeuchte und allseitig glatt gehobelt.
              </p>

              <p>
                Ursprungsland: Russische Föderation (Gebiet Irkutsk)
              </p>

              <p>
                Schräge: 30° <br>
                Stärke: 20 mm <br>
                Breite: 70 mm <br>
                1 m² benötigt je nach Abstand (min. 5mm) ca. 15 Meter
                Die Oberflächenbehandlung von Hobelware ist von Holzart zu Holzart unterschiedlich. Robuste Holzarten wie die Sibirische Lärche kommen im Außenbereich auch ohne Oberflächenbehandlung aus. Weniger robuste Holzarten wie die Fichte benötigen jedoch eine qualitativ hochwertige Oberflächenbehandlung.
              </p>

              <p>
                Die Rhombusleisten sind in 45329 Essen auf Johanniskirchstraße 86-88 am Lager und sofort verfügbar.
              </p>
            </div>
            <div class="features-image">
              <img src="../../img/features/featuresImage_1.jpg" alt="image">
            </div>
          </li>
          <li class="features-col">
            <div class="features-info">
              <p>
                Kommen Sie einfach vorbei und überzeugen Sie sich selbst von der Top-Qualität unserer Produkte.
              </p>
            </div>
            <div class="features-image">
              <img src="../../img/features/featuresImage_2.jpg" alt="image">
            </div>
          </li>
          <li class="features-col">
            <div class="features-info">
              <p>
                Kommen Sie einfach vorbei und überzeugen Sie sich selbst von der Top-Qualität unserer Produkte.
              </p>
              <p class="features-info__bold">
                20 weitere Produkte aus sibirischer Lärche unter anderem Edelstahl-Schrauben und Schutz-Öle direkt am Lager an der A42 Essen-Nord B224.
              </p>
              <p class="features-info__bold">
                Unsere Öffnungszeiten: <br>
                Montag bis Freitag von 08:00 bis 18:00 Uhr und Samstag von 09:00 bis 16:00 Uhr.
              </p>
            </div>
            <div class="features-image">
              <img src="../../img/features/featuresImage_3.jpg" alt="image">
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
