<section class="options">
  <div class="options-container container">
    <div class="options-body">
      <div class="options-grid">
        <div class="options-carousel">
          <div class="options-external">
            <span>Teilen</span>
            <ul class="options-social">
              <a href="#" target="_blank" class="options-social__link">
                <img src="../../img/sprite/fb_icon.svg" alt="icon">
              </a>
              <a href="#" target="_blank" class="options-social__link">
                <img src="../../img/sprite/pinterest-icon.svg" alt="icon">
              </a>
              <a href="#" target="_blank" class="options-social__link">
                <img src="../../img/sprite/google_icon.svg" alt="icon">
              </a>
            </ul>
          </div>
          <div class="options-vertical">
            <button class="options-vertical__button options-vertical__button--prev">
              <img src="../../img/sprite/arrow-n.svg" alt="arrow">
            </button>
            <div class="slider swiper">
              <ul class="slider-list swiper-wrapper">
                <li class="slider-item swiper-slide">
                  <img src="../../img/options/sliderImage_1.png" alt="bg">
                </li>
                <li class="slider-item swiper-slide">
                  <img src="../../img/options/sliderImage_2.png" alt="bg">
                </li>
                <li class="slider-item swiper-slide">
                  <img src="../../img/options/sliderImage_3.png" alt="bg">
                </li>
                <li class="slider-item swiper-slide">
                  <img src="../../img/options/sliderImage_4.png" alt="bg">
                </li>
                <li class="slider-item swiper-slide">
                  <img src="../../img/options/sliderImage_4.png" alt="bg">
                </li>
                <li class="slider-item swiper-slide">
                  <img src="../../img/options/sliderImage_4.png" alt="bg">
                </li>
              </ul>
            </div>
            <button class="options-vertical__button options-vertical__button--next">
              <img src="../../img/sprite/arrow-n.svg" alt="arrow">
            </button>
          </div>
          <div class="options-inner">
            <div class="options-image fade-in">
              <img src="../../img/options/sliderImage_1.png" alt="image">
            </div>
            <div class="options-image">
              <img src="../../img/options/sliderImage_2.png" alt="image">
            </div>
            <div class="options-image">
              <img src="../../img/options/sliderImage_3.png" alt="image">
            </div>
            <div class="options-image">
              <img src="../../img/options/sliderImage_4.png" alt="image">
            </div>
            <div class="options-image">
              <img src="../../img/options/sliderImage_4.png" alt="image">
            </div>
            <div class="options-image">
              <img src="../../img/options/sliderImage_4.png" alt="image">
            </div>
          </div>
        </div>
        <div class="options-info info">
          <div class="info-breadcrumbs">
            <a href="#" class="info-breadcrumbs__link">Startseite</a>
            <img src="../../img/sprite/arrow-e.svg" alt="icon">
            <a href="#" class="info-breadcrumbs__link">Rhombusleisten</a>
            <img src="../../img/sprite/arrow-e.svg" alt="icon">
            <a href="#" class="info-breadcrumbs__link">A/B-Sortierung </a>
            <img src="../../img/sprite/arrow-e.svg" alt="icon">
            <a href="#" class="info-breadcrumbs__link info-breadcrumbs__link--current">
              Rhombusleiste (30°) 20x70mm Sibirische Lärche
            </a>
          </div>
          <h1 class="info-title">
            A/B-Sortierung / Rhombusleiste (30°) 20x70mm Sibirische Lärche
          </h1>
          <div class="info-length">
            <span class="info-length__label">
              inkl. MwSt.  Lieferzeit: 1-2 Werktage
            </span>
            <img src="../../img/length-image.png" alt="image">
          </div>
          <ul class="info-dimensions">
            <a href="#" class="info-dimensions__link box box--md">
              <span>1 m</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>
            </a>
            <a href="#" class="info-dimensions__link box box--md">
              <span>2 m</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>
            </a>
            <a href="#" class="info-dimensions__link box box--md">
              <span>2.5 m</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>
            </a>
            <a href="#" class="info-dimensions__link box box--md">
              <span>3 m</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>
            </a>
            <a href="#" class="info-dimensions__link box box--md">
              <span>4 m</span>
              <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24" style="enable-background:new 0 0 512 512" xml:space="preserve" class=""><g><path d="M5 20c.26 0 .51-.1.71-.29L18 7.42v7.59c0 .55.45 1 1 1s1-.45 1-1V7c0-1.65-1.35-3-3-3H9c-.55 0-1 .45-1 1s.45 1 1 1h7.59L4.3 18.29a.996.996 0 0 0 .71 1.7z" fill="" opacity="1" data-original="#000000" class=""></path></g></svg>
            </a>
          </ul>
          <ul class="info-properties">
            <li class="info-properties__item">
              <span class="info-properties__label">
                Auf Lager:
              </span>
              <span class="info-properties__space"></span>
              <span class="info-properties__value">
                3888 Stück
              </span>
            </li>
            <li class="info-properties__item">
              <span class="info-properties__label">
                Gewicht
              </span>
              <span class="info-properties__space"></span>
              <span class="info-properties__value">
                0,750 kg
              </span>
            </li>
            <li class="info-properties__item">
              <span class="info-properties__label">
                Quadratmeter
              </span>
              <span class="info-properties__space"></span>
              <span class="info-properties__value">
                0,065 m2
              </span>
            </li>
          </ul>
          <div class="info-purchase">
            <div class="info-controller">
              <button class="info-controller__button">
                <img src="../../img/sprite/remove.svg" alt="icon">
              </button>
              <span>1</span>
              <button class="info-controller__button">
                <img src="../../img/sprite/add.svg" alt="icon">
              </button>
            </div>
            <span class="info-price">
              3,50 €
            </span>
            <button class="info-button">
              In den Warenkorb
              <img src="../../img/sprite/shopping-cart.svg" alt="icon">
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
