<footer class="footer">
  <div class="footer-container container">
    <div class="footer-body">
      <div class="footer-grid">
        <div class="footer-col">
          <span class="footer-col__heading">
            Informationen
          </span>
          <ul class="footer-links">
            <a href="#" class="footer-links__item" target="_blank">
              Allgemeine Geschäftsbedingungen
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Widerrufsbelehrung
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Datenschutz
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Impressum
            </a>
          </ul>
        </div>
        <div class="footer-col">
          <span class="footer-col__heading">
            Unternehmen
          </span>
          <ul class="footer-links">
            <a href="#" class="footer-links__item" target="_blank">
              Lieferung
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Öffnungszeiten
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Kontakt
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Sitemap
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Shops
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Sortierung
            </a>
          </ul>
        </div>
        <div class="footer-col">
          <span class="footer-col__heading">
            Ihr Konto
          </span>
          <ul class="footer-links">
            <a href="#" class="footer-links__item" target="_blank">
              Adressen
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Bestellungen
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Gutscheine
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Persönliche Angaben
            </a>
            <a href="#" class="footer-links__item" target="_blank">
              Rückvergütungen
            </a>
          </ul>
        </div>
        <p class="footer-rights">
          Preisangaben inkl. gesetzl. MwSt. <br>
          © by WOP-Import.de
        </p>
      </div>
    </div>
  </div>
</footer>

<div class="logo">
  <img src="../img/logo.png" alt="logo">
</div>
