<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Description" content="default">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#ffffff">
    <title>Wop - Project</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/11.0.0/swiper-bundle.css"
    integrity="sha512-6fa77z38zYI1sU8SpABTKGd4FA21UoVc7/SmTFlVTr8n+4o5MZgfNjkXHn7Kz9nTnk5s/y20HVKreiT7wGuOMQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Jost:regular" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
</head>
