.blog {
  padding: clamp(64px, 6vw, 96px) 0;

  &-body {
    display: flex;
    flex-direction: column;
    grid-gap: clamp(28px, 2vw, 32px);
    & > * {
      width: 100%;
    }
  }
  &-name {
    font-weight: 700;
  }
  &-info {
    @include hide-text(2);
    line-height: 140%;
    font-size: clamp(14px, 1vw, 16px);
  }
  &-image {
    height: clamp(300px, 31.25vw, 500px);

    position: relative;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
}

@include tablet {
  .blog {
    &-image {
      height: 240px;
    }
  }
}
