.heading {
  font-size: clamp(38px, 4vw, 64px);
  font-weight: 700;
  line-height: 115%;
  border-bottom: 2px solid rgba(var(--br-line), 1);
  color: rgba(var(--clr-dark-pr), 1);
  padding-bottom: 6px;
}
